*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
h2{
  font-size: 29px;
  font-weight: 600;
}
h3{
  font-size: 23px;
  font-weight: 600;
}
li{
  list-style: none;
}
/* UTILITIES */
.lilSection{
  height: 80px;
  width: 100%;
}
.bigSection{
  height: 400px;
}
.midSection{
  height: 320px;
}
.flex{
  display: flex;
}
.flexCenter{
  justify-content: center;
  align-items: center;
}
.column{
  flex-direction: column;
}
.uppercase{
  text-transform: uppercase;
}
.margin{
  padding: 50px 200px 50px 200px;
}
.buttons{
  color: white;
  font-size: 12px;
  font-weight: 700;
  min-width: 50px;
  height: 40px;
  padding: 10px 20px;
  background-color: #f72b0c;
  border: none;
  outline: none;
  border-bottom: 3px solid #bf351f;
}
.btn{
  margin-top: 20px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  background-color: #f72b0c;
  border: none;
  outline: none;
}
.w3{
  font-size: 13px;
  font-weight: 600;
  margin-left: 20px;
}
.donec{
  margin: 10px 0 10px 40px;
  font-size: 11px;
  color: #9c9c9c;
}
.red{
  color: #f72b0c;
}
.read{
  color: #f72b0c;
  font-size: 13px;
  font-weight: 300;
  margin-left: 40px;
}
.pH2{
  font-size: 13px;
  color: #c6c1bd;
}
.hList ul{
  display: flex;
  color: #9c9c9c;
  font-size: 11px;
  font-weight: 600;

}
.hList li{
    margin-right: 10px;
}
.white{
  color: white;
}
.radius{
  border-radius: 3px;
}
/* HOVERS */
.se3Container .timerContainer div:hover{
  cursor: pointer;
  opacity: 0.9;
}
.buttons:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
.read:hover{
  text-decoration: underline;
  cursor: pointer;
}
#se5 .calendar > div:first-child > div:visited {
  background-color: #bf351f;
}
#se9 > div > div:hover{
  transform: scale(1.05);
  animation: 5s;
  box-shadow: 5px 10px 8px #888888 ;
  cursor: pointer;
}
#footer1 > *:hover{
  cursor: pointer;
}
.hList li:hover{
  cursor: pointer;
  color: #f72b0c;
  text-decoration: underline;
}
/* HEADER */
header{
  justify-content: space-around;
  align-items: center;
}
/* MAIN */
/* section 1 */
#se1{
  background-image: url("../img/slider-1-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.se1Container h1:first-of-type{
  font-size: 40px;
  font-weight: 100;
}
.se1Container h1:nth-child(2){
  font-size: 60px;
  font-weight: 800;
}
.se1Container > div{
  width: 400px;
  margin-top: 30px;
  padding: 10px;
  border-top: 5px solid white;
}
.se1Container button{
  width: 150px;
  height: 40px;
}
/* section 2 */
#se2 > div {
  margin: 0 15px 0 15px;
}
#se2 i{
  color: #c6c1bd;
}
/* section 3 */
#se3{
  background-image: url("../img/coutdown-bg1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.se3Container input{
  height: 40px;
  width: 250px;
  padding: 10px;
  font-size: 11px;
  outline: none;
  margin-right: 10px;
}
.se3Container > span{
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}
.se3Container .timerContainer > div{
  min-width: 100px;
  min-height: 100px;
  background-color: #272727;
  opacity: 0.7;
  margin: 0 10px;
  color: white;
}
.se3Container .timerContainer > div span:first-child{
  font-size: 30px;
  font-weight: 600;
}
.se3Container .timerContainer > div span:last-child{
  font-size: 11px;
}
/* section 4 */
#se4{
  background-color: #f0f3f5;
  position: relative;
}
#se4  .buttonContainer{
  position:absolute;
  top: 50px;
  right:200px;
  transform: translatey(-50%)
}
#se4 button{
  height: 35px;
  width: 35px;
}
.slider{
  margin-top: 30px;
}
.slider img{
  width: calc(100% - 20px);
  margin: 0 10px;
}
.slider li{
  text-align: center;
}
.slider li span{
  margin: 10px 0 5px 0;
}
.slider em{
  font-size: 11px;
  color: #868686;
}
#first{
  animation: 0.4s;
  display: block;
}
#second{
  animation: 0.4s;
  display: none;
}
/* ssection 5 */
#se5{
  position: relative;
}
#se5 > div:first-child p{
  margin-left: 30px;
}
#se5 em{
  position: absolute;
  top: 60px;
  right:200px;
}
#se5 .calendar{
  margin-top: 30px;
  height: 250px;
}
#se5 .calendar > div:first-child{
  flex-basis: 20%;
}
#se5 .calendar > div:first-child > div{
  width: calc(100% / 6);
  color: white;
  padding: 10px;
  background-color: #f72b0c;
  border-right: 1px solid #403d3b;
}
#se5 .calendar > div:last-child{
  flex-grow: 1;
  background-color: #f0f3f5;
}
#se5 .calendar > div:last-child > div:first-child{
  flex-basis: 30%;
  font-size: 11px;
  text-align: left;
  margin: auto;
}
#se5 .calendar > div:last-child > div:first-child span{
  margin: 10px 10px 0 20px;
}
#se5 .calendar > div:last-child > div:first-child i{
  color: #5d5d5c;
}
#se5 .calendar > div:last-child > div:last-child {
  align-items: flex-start;
  margin: auto
}
#se5 .calendar > div:last-child > div:last-child img,
#se5 .calendar > div:last-child > div:last-child p{
  color: #5d5d5c;
  margin-left: 20px;
  margin-top: 10px;
}
#se5 .calendar > div:last-child > div:last-child img{
  height: 30px;
}
/* section 6 */
#se6 iframe{
  width: 100%;
  height: 100%;
  border: none;
}
/* section 7 */
#se7{
  background-image: url("../img/location-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
#se7 >div:last-child{
  border-top:3px solid white;
  padding: 10px;
}
#se7 >div{
  margin-top: 40px;
}
#se7 > div > div{
  margin-top: 20px;
}
#se7 div:nth-child(2) > div:last-child{
  font-weight: 200;
  color: #f72b0c;
}
#se7 >div:last-child i:last-child{
  margin: 0 10px 0 20px;
}
/* section 8 */
#se8{
  position: relative;
}
#se8 > div:first-child em{
  position: absolute;
  top: 60px;
  right:200px;
}
#se8 img{
  width: 250px;
  height: 150px;
}
#se8 > div:last-child > div{
  margin:30px 20px 0 0;
}
#se8 > div:last-child span,
#se8 > div:last-child em{
  margin:5px 0 0 0;
}
#se8 > div:last-child span:first-of-type{
  font-size: 11px;
  color: #9c9c9c;
}
#se8 > div:last-child p{
  margin: 10px 0 0 0;
}
/* section 9 */
#se9{
  background-image: url("../img/ticket-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
#se9 > div > div > div:first-child{
  background-color: #f0f3f5;
  position: relative;
}
#se9 > div{
  margin-top: 30px;
}
#se9 > div > div{
  animation: 0.4s;
  margin: 0 10px 0 10px;
}
#se9 > div > div > div:nth-child(2){
  background-color: white;
  color: #9c9c9c;
}
#se9 > div > div > div:last-child{
  background-color: #f72b0c;
  padding: 10px;
}
#se9 > div > div > div:nth-child(2){
  padding: 20px 30px;
}
#se9 span{
  font-weight: 800;
}
#se9 span:last-child{
  color: #f72b0c;
}
#se9 em{
  font-size: 13px;
}
#se9 em,
#se9 span{
  margin: 5px;
}
/* section 10 */
#se10 > div:first-of-type img{
  margin-top: 30px;
  margin-left: 5%;
  width: 90%;
}
#se10 > div{
  flex-basis: 50%;
}
#se10 > div:last-child {
  margin-left: 20px;
}
#se10 > div:last-child > div > div{
  margin-top: 20px;
}

#se10 > div:last-child > div > div > div:last-child{
  margin-left: 20px;
}
#se10 > div:last-child > div > div > div i{
  color: #00b8ff;
}
/* section 11 */
#se11{
  background-color: #f0f3f5;
}
#se11 span{
  margin: 30px 0 30px 0;
  text-align: center;
}
#se11 ul li img{
  width: 100px;
  height: 100px;
  margin: 0 20px;
}
/* footer */
#footer1{
  background-color: #272727;
}
#footer1 > div{
  width: calc(100% / 4);
}
#footer1 > div h5{
  margin-bottom: 20px;
}
#footer1 > div p,
#footer1 > div span,
#footer1 > div ul{
  margin-top: 10px;
}
#footer1 > div ul li{
  margin: 5px;
  color: #9c9c9c
}
#footer1 > div button{
  width: 158px;
  margin-top: 10px;
}
#footer1 > div .donec{
  margin: 0;
}
#footer1 > div:nth-child(2) i{
  margin-right: 5px;
}
#footer1 > div:last-child{
  margin-left: 30px;
}
#footer1 > div:last-child > div {
  flex-wrap: wrap;
}
#footer1 > div > div img{
  margin: 5px;
  width: 50px;
  height: 50px;
}
/* footer 2 */
#footer2{
  background-color: #040404;
  justify-content: space-between;
}
/* section 3 */
                                                                                                                             
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
