<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>KEYNOTE</title>
  </head>
  <body>
    <!-- inzio header -->
    <header class="lilSection">

    </header>
    <!-- fine header -->
    <!-- inizio main -->
    <main>
      <!-- sezione 1 -->
      <section id="se1" class="bigSection flex flexCenter">
        <div class="se1Container flex flexCenter column uppercase">
          <h1>conference on</h1>
          <h1>social network</h1>
          <div >
            23-26 may 2020  /  san francisco  /  8 speakers
          </div>
          <button class="btn uppercase radius" type="button" name="button">register online</button>
        </div>
      </section>
      <!-- sezione 2 -->
      <section class=" flex flexCenter margin" id="se2">
        <div>
          <i class="fas fa-trophy"></i>
          <span class="w3 uppercase">who we are</span>
          <p class="donec">Donec id elit non mi porta gravida at egit me tus.Sed posuere consectetur estat lobo rtis.Cum socis natoque.</p>
          <em class="read">Learn more</em>
        </div>
        <div>
          <i class="fas fa-bolt"></i>
          <span class="w3 uppercase">who we are</span>
          <p class="donec">Donec id elit non mi porta gravida at egit me tus.Sed posuere consectetur estat lobo rtis.Cum socis natoque.</p>
          <em class="read">Learn more</em>
        </div>
        <div>
          <i class="fas fa-question"></i>
          <span class="w3 uppercase">who we are</span>
          <p class="donec">Donec id elit non mi porta gravida at egit me tus.Sed posuere consectetur estat lobo rtis.Cum socis natoque.</p>
          <em class="read">Learn more</em>
        </div>
      </section>
      <!-- sezione 3-->
      <section class="midSection flex flexCenter" id="se3">
        <div class="se3Container flex flexCenter column">
          <div class="timerContainer flex">
            <div class="radius flex flexCenter column">
              <span>{{displayDays}}</span>
              <span class="uppercase">days</span>
            </div>
            <div class="radius flex flexCenter column">
              <span>{{displayHours}}</span>
              <span class="uppercase">hours</span>
            </div>
            <div class="radius flex flexCenter column">
              <span>{{displayMinutes}}</span>
              <span class="uppercase">minutes</span>
            </div>
            <div class="radius flex flexCenter column">
              <span>{{displaySeconds}}</span>
              <span class="uppercase">seconds</span>
            </div>
          </div>
          <span class="uppercase">subscribe for updates</span>
          <div class="">
            <input type="text" placeholder="Please fill your email" value="">
            <button type="button" name="button" class="buttons uppercase">subscribe</button>
          </div>
        </div>
      </section>
      <!-- sezione 4-->
      <section class="midSection margin" id="se4">
        <h2 class="uppercase">speakers</h2>
          <div class="slider">
            <ul class="flex">
              <li class="flex column flexCenter">
                <img :src="photos[indexPhoto]">
                <span class="w3 uppercase">Torquato fagiani</span>
                <em>Caldaie Ravasio Consultant</em>
              </li>
              <li class="flex column flexCenter">
                <img :src="photos[indexPhoto + 1]" >
                <span class="w3 uppercase">walter panzeri</span>
                <em>Tavernello Head of Sales</em>
              </li>
              <li class="flex column flexCenter">
                <img :src="photos[indexPhoto + 2]">
                <span class="w3 uppercase">angelina holy</span>
                <em>Maxii's Manager</em>
              </li>
              <li class="flex column flexCenter">
                <img :src="photos[indexPhoto + 3]">
                <span class="w3 uppercase">micheal dover</span>
                <em>Starbuck's CEO</em>
              </li>
            </ul>
          <div class="buttonContainer">
            <button @click="prevPhoto(indexPhoto)" class="btn" type="button" name="button">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button @click="nextPhoto(indexPhoto)" class="btn" type="button" name="button">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </section>
      <!-- sezione 5-->
      <section class="bigSection margin flex column" id="se5">
        <div class="flex">
          <h2 class="uppercase">program</h2>
          <p class="pH2">This conference run through all 4 days from 23 - 26 May 2020. <br>We also provide free lunch and coffee break in each day. </p>
          <em class="read">View Full Program</em>
        </div>
        <div class="calendar flex column">
          <div class="flex">
            <div class="flex column flexcenter">
              <span class="uppercase">day 1</span>
              <span>23 May 2016</span>
            </div>
            <div class="flex column flexcenter">
              <span class="uppercase">day 2</span>
              <span>23 May 2016</span>
            </div>
            <div class="flex column flexcenter">
              <span class="uppercase">day 3</span>
              <span>23 May 2016</span>
            </div>
            <div class="flex column flexcenter">
              <span class="uppercase">day 4</span>
              <span>23 May 2016</span>
            </div>
            <div class="flex column flexcenter">
              <span class="uppercase">day 5</span>
              <span>23 May 2016</span>
            </div>
            <div >
            </div>
          </div>
          <div class="flex">
            <div class="uppercase flex column ">
              <span>
                <i class="far fa-clock"></i>
                09:00 - 10:30
              </span >
              <span>
                <i class="fas fa-location-arrow"></i>
                room a
              </span>
              <span>
                <i class="fas fa-user"></i>
                lauren francis
              </span>
            </div>
            <div class="flex  column">
              <span class="w3 uppercase">welcoming and introduction</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <img class="radius" src="./img/speaker-8.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-- sezione 6-->
      <section class="midSection" id="se6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39761.26300027173!2d-0.18024143727321099!3d51.47506534780155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondra%2C%20Regno%20Unito!5e0!3m2!1sit!2sit!4v1606785770738!5m2!1sit!2sit"></iframe>
      </section>
      <!-- sezione 7-->
      <section class="midSection flex flexCenter column " id="se7">
        <div class="uppercase">
          <h2 class="white">location</h2>
        </div>
        <div class="flex column flexCenter">
          <h3 class="white uppercase">gd building, grand conference room</h3>
          <div class="flex white">
            <i class="fas fa-location-arrow"></i>
            <span>11 GD Building,River Mall,New York,USA 8879</span>
          </div>
          <div>
            Check For Accomodation Here
          </div>
        </div>
        <div class="white">
          <i class="fas fa-phone-alt white"></i>
          +1-112-222-3344
          <i class="fas fa-envelope white"></i>
          Contact@TheKeyNoteTheme.com
        </div>
      </section>
      <!-- sezione 8-->
      <section id="se8" class="bigSection margin flex column">
        <div class="flex">
          <h2 class="uppercase">recent news</h2>
          <em class="read">Read All News</em>
        </div>
        <div class="flex">
          <div class="flex column">
            <img src="./img/photodune-white-coffee.jpg" alt="sedial">
            <span>03 Dec 2013 / 0 Comments</span>
            <span class="w3 uppercase">sedial eiusmod tempor</span>
            <p class="donec">Donec id elit non mi porta gravida at egit me tus.Sed posuere consectetur estat lobo rtis.Cum socis natoque.</p>
            <em class="read">Read more</em>
          </div>
          <div class="flex column">
            <img src="./img/photodune-multiethnic-people.jpg" alt="sedial">
            <span>03 Dec 2013 / 0 Comments</span>
            <span class="w3 uppercase">donec luctus imperdiet</span>
            <p class="donec">Donec id elit non mi porta gravida at egit me tus.Sed posuere consectetur estat lobo rtis.Cum socis natoque.</p>
            <em class="read">Read more</em>
          </div>
          <div class="flex column">
            <img src="./img/2-item-1.jpg" alt="sedial">
            <span>03 Dec 2013 / 2 Comments</span>
            <span class="w3 uppercase">magna pars studiorum</span>
            <p class="donec">Donec id elit non mi porta gravida at egit me tus.Sed posuere consectetur estat lobo rtis.Cum socis natoque.</p>
            <em class="read">Read more</em>
          </div>
        </div>
      </section>
      <!-- sezione 9-->
      <section class="bigSection flex column flexCenter" id="se9">
        <h2 class="white uppercase">tickets</h2>
        <div class="flex">
          <div class="flex column">
            <div class="uppercase flex column">
              <span>one day pass</span>
              <span>free</span>
            </div>
            <div class="flex column flexCenter">
              <em>One Day Access</em>
              <em>Coffee Brexk</em>
              <em>Lunch(International Buffet)</em>
              <em>Document Sheets</em>
              <em>50USD Voucher For Next Event</em>
            </div>
            <div class="flex flexCenter uppercase white">
              book now
            </div>
          </div>
          <div class="flex column">
            <div class="uppercase flex column">
              <span>four day pass</span>
              <span>750.00 usd</span>
            </div>
            <div class="flex column flexCenter">
              <em>Four Day Access</em>
              <em>Coffee Brexk</em>
              <em>Lunch(International Buffet)</em>
              <em>Document Sheets</em>
              <em>100USD Voucher For Next Event</em>
            </div>
            <div class="flex flexCenter uppercase white">
              book now
            </div>
          </div>
          <div class="flex column">
            <div class="uppercase flex column">
              <span>two day pass</span>
              <span>580.00 usd</span>
            </div>
            <div class="flex column flexCenter">
              <em>Two Day Access</em>
              <em>Coffee Brexk</em>
              <em>Lunch(International Buffet)</em>
              <em>Document Sheets</em>
              <em>70USD Voucher For Next Event</em>
            </div>
            <div class="flex flexCenter uppercase white">
              book now
            </div>
          </div>
        </div>
      </section>
      <!-- sezione 10-->
      <section  class="bigSection flex margin" id="se10">
        <div class="flex column">
          <h2 class="uppercase">presentation</h2>
          <img  src="./img/conference.webp" alt="conference">
        </div>
        <div class="flex column">
          <h2 class="uppercase">twitter feed</h2>
          <div class="flex column">
            <div class="flex">
              <div class="">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="donec">
                Stand out and be vibrant with some of the best best and bold templates on <span class="red">@Envato</span> Elements And add a splash of...<span class="red">https://t.co/jFrsnzEJK7</span>
              </div>
            </div>
            <div class="flex">
              <div class="">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="donec">
                Stand out and be vibrant with some of the best best and bold templates on <span class="red">@Envato</span> Elements And add a splash of...<span class="red">https://t.co/jFrsnzEJK7</span>
              </div>
            </div>
            <div class="flex">
              <div class="">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="donec">
                Stand out and be vibrant with some of the best best and bold templates on <span class="red">@Envato</span> Elements And add a splash of...<span class="red">https://t.co/jFrsnzEJK7</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- sezione 11-->
      <section class="midSection flex flexCenter column " id="se11">
        <h2 class="uppercase">sponsors</h2>
        <span class="donec">Maecenas faucibus mollis iterdum.Nullma id dolor <br> id nibh ultricies behicula ud it elit.</span>
        <ul class="flex">
          <li>
            <img src="./img/banner-1.jpg" alt="">
          </li>
          <li>
            <img src="./img/banner-2.jpg" alt="">
          </li>
          <li>
            <img src="./img/banner-3.jpg" alt="">
          </li>
          <li>
            <img src="./img/banner-4.jpg" alt="">
          </li>
          <li>
            <img src="./img/banner-5.jpg" alt="">
          </li>
          <li>
            <img src="./img/banner-6.jpg" alt="">
          </li>
        </ul>
      </section>
    </main>
    <!-- fine main -->
    <!-- inizio footer -->
    <footer class="midSection flex margin" id="footer1">
      <div class="flex column">
        <h5 class="uppercase white">{{footer.about.title}}</h5>
        <p class="donec">{{footer.about.p}}</p>
        <ul class="flex">
          <li v-for="social in footer.about.socials" :class="social"></li>
        </ul>
      </div>
      <div class="flex column">
        <h5 class="uppercase white">{{footer.news.title}}</h5>
        <ul class="flex column">
          <li class="flex" v-for="link in footer.news.links">
            <i class="fas fa-chevron-right donec"></i>
            <div class="uppercase donec">
              {{link}}
            </div>
          </li>
        </ul>
      </div>
      <div class="flex column">
        <h5 class="white uppercase">{{footer.seat.title}}</h5>
        <span class="donec">{{footer.seat.span}}</span>
        <button type="button" class="buttons uppercase" name="button">{{footer.seat.button}}</button>
      </div>
      <div class="flex column">
        <h5 class=" uppercase white">{{footer.gallery.title}}</h5>
        <div class="flex">
          <img class="radius" v-for="picture in footer.gallery.pictures" :src="'./img/'+picture" alt="">
        </div>
      </div>
    </footer>
    <!-- footer 2 -->
    <footer class="lilSection"></footer>
    <!-- fine footer -->
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
